<div class="card-header">Login</div>
<div class="card-body">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name ="login" class="form-control" id="exampleInputEmail1" 
        aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name ="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!login.validate" (click)="login()">Submit</button>
  </form>
  <br>
  <a class="btn btn-primary" href="/register"  role="button">Sign up</a>
</div>