<div class="container">
    <h1>
        Welcome to {{ title }}!
      </h1>
      <br>
      <br>
      <h2>First register in the form</h2>
      <br>
      <br>
  <div class="form-inline">
    <label>Email:</label>
    <input class="form-control" type="email" placeholder="Email here..." [(ngModel)]="email">
    <label>Password:</label>
    <input class="form-control" type="password" placeholder="Secure pwd here..." [(ngModel)]="password">
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control"placeholder="Password">
      </div>
    <button class="btn btn-primary"(click)="login()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Login
    </button>
  </div>
</div>
