<div class="container">
  <legend>Videos</legend>
  <button type ="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVideo"> New Video</button>
  <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true">Refresh</i></button>
  <table class="table table-striped table-hover">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Video</th>
    </tr>
    <tr *ngFor="let row of current_video">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.video}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true">Edit</i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true">Delete</i></button>
          <a [routerLink]="['/videos/', row.id]" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true">Info</i>
          </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row.id)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="current_video.length == 0">
      <td colspan="4" class="text-center">No data available</td>
    </tr>
  </table>
</div>
<app-modal></app-modal>