<div style="text-align:center" class="container">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <br>
    <br>
     <h2>First register in the form</h2>
     <br>
     <br>
    <div style="text-align:left">
    <div class="form-group" >
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control"placeholder="Password">
    </div>
    <div class="form-group" >
      <label>Name</label>
      <input type="name" class="form-control" placeholder="Enter Name" [(ngModel)]="name">
    </div>
    <div class="form-group" >
      <label>Last name</label>
      <input type="lastname" class="form-control" placeholder="Enter Last name" [(ngModel)]="last_name">
    </div>
    <div class="form-group" >
      <label>Country</label>
      <input type="country" class="form-control" placeholder="Enter country" [(ngModel)]="country">
    </div>
    <div class="form-group" >
      <label>Birthdate</label>
      <input type="date" class="form-control" placeholder="Enter Birthdate" [(ngModel)]="birth_date">
    </div>
    <div class="form-group" >
      <label>Phone number</label>
      <input type="number" class="form-control" placeholder="phonenumber"[(ngModel)]="phone_number">
    </div>
    <button type="submit" class="btn btn-primary"(click)="register()">Submit</button>
  </div>


